body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1{
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

label {
  margin-bottom: 5px;
}

select,
input {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

button {
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Optional: Add styling for the options in the dropdown */
select option {
  padding: 10px;
}